.kids-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-left: 20px;
}

.search-bar {
   margin-bottom: 30px;
}

.search-bar input {
    width: 180px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    height: 25px;
}

.logo{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.kits-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.kit{
    margin-top: 20px;
    text-align: center;
}
.kit-image{
    width: 180px;
    border-radius: 8px;
}
.kit-name{
    margin-top: 10px;
    font-weight: bold;
}
.kit-price{
   color: black;
}

