.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Use 'center' instead of 'right' */
    padding: 10px 20px;
    background-color: #222; /* Add background for visibility */
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li {
    display: inline;
  
}
.nav-links a {
    text-decoration: none;
    color: rgb(164, 32, 32);

}
.nav-links a:hover {
    color: white;
}