.kit-image{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    gap: 50px;
}

.kit-image img{
    width: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.kit-details{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    font-family: Arial;
    align-items: flex-end;
    text-align: right;
    margin-left: auto;

}

.kit-details h2{
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}
.size-selection p{
    font-size: 1rem;
    margin-bottom: 5px;
}

.size-selection button{
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.size-selection button:hover{
    background-color: black;
}
.quantity-selection p{
    margin: 10px 0 5px;
}
.kit-description {
    font-size: 1rem;
    margin: 15px 0;
    line-height: 1.5;
  }
  
  /* Buttons for add to cart & Apple Pay */
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .add-to-cart,
  .apple-pay {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .add-to-cart {
    background: black;
    color: white;
  }
  
  .add-to-cart:hover {
    background: #444;
  }
  
  .apple-pay {
    background: #000;
    color: white;
  }
  
  .apple-pay:hover {
    background: #333;
  }